/* Student ID: C0913139
Student Name: Ananta Poudel */

body,
h1,
h3 {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Top Title box */
.container {
    display: flex;
    flex-direction: column;
}

.title-box {
    padding: 30px 20%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: white;
    background-color: #314a85;
}

/* Form for Input */
.form {
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 60px 20%;
}

.form-group {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 5px;
    width: 45%;
}

.convert-icon {
    cursor: pointer;
    margin-top: 15px;
    width: 10%;
    display: flex;
    justify-content: center;
}

label {
    font-size: 14px;
    color: gray;
}

input[type="number"] {
    padding: 16px;
    border: 1.25px solid rgb(208, 208, 208);
    border-radius: 4px;
    font-size: 20px;
}

.input-icon {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 58px;
    width: 120px;
    right: 0px;
    gap: 10px;
    color: white;
    bottom: 0px;
    background-color: rgb(39, 75, 147);
    border-radius: 4px;
}


/* Button Groups */
.flex-box {
    display: flex;
    gap: 20px;
    margin: auto;
    width: 60%;
}

.btn {
    padding: 15px 50px;
    font-size: 16px;
    border-radius: 6px;
    width: fit-content;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.btn:hover {
    transition: all 0.5s ease-out;
}

.convert-btn {
    color: white;
    border: none;
    background-color: #314a85;
}

.convert-btn:hover {
    background-color: #0f2045;
    transition: all 0.5s ease-out;
}

.reset-btn {
    color: black;
    border: none;
    border: 2px solid grey;
}

/* Responsiveness */

@media (max-width: 1050px) {

    input[type="number"] {
        padding: 10px;
        border: 1px solid rgb(208, 208, 208);
        border-radius: 4px;
        font-size: 16px;
    }

    .input-icon {
        height: 40px;
        right: 0px;
        width: 85px;
        gap: 5px;
        color: white;
        bottom: 0px;
        background-color: rgb(39, 75, 147);
        border-radius: 4px;
    }

    .btn {
        padding: 10px 30px;
        font-size: 16px;
        border-radius: 6px;

    }


}

@media (max-width: 882px) {
    .form {
        flex-direction: column;
        gap: 10px;

    }

    .form-group {
        width: 100%;
    }

    input[type="number"] {
        padding: 16px;
        border: 1.25px solid rgb(208, 208, 208);
        border-radius: 4px;
        font-size: 20px;
    }

    .input-icon {
        height: 58px;
        width: 120px;
        right: 0px;
        gap: 10px;
        color: white;
        bottom: 0px;
        background-color: rgb(39, 75, 147);
        border-radius: 4px;
    }

    .btn {
        padding: 20px 40px;
        font-size: 18px;
        border-radius: 6px;

    }
}

@media (max-width: 620px) {
    .btn {
        padding: 15px 30px;
        font-size: 16px;
        border-radius: 6px;

    }
}